.page {
  font-family: $font;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
