/* ~~~~ Colors ~~~~ */

$white: #ffffff;
$black: #000000;
$grey: #b8b8b8;
$darkgrey: #535353;
$lightgrey: #efefef;
$yellow: #fcff12;

/* ~~~~ Font ~~~~ */

$font: "Roboto", "Arial", sans-serif;

/* ~~~~ Media ~~~~ */

$tablet: "(max-width: 960px)";
$mobile: "(max-width: 660px)";
