.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $yellow;
  padding-top: 30px;
  padding-bottom: 17px;
}

.footer__inner {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  position: relative;
  margin-left: 10px;
}

.footer__logo:before {
  content: "";
  top: -12px;
  left: 48px;
  width: 21px;
  height: 17px;
  position: absolute;
  background-image: url(../img/logo-black-element.png);
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  width: 380px;
  padding-bottom: 11px;
  flex-wrap: wrap;
}

.footer__link {
  color: $black;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 25px;
}

.footer__link:hover {
  color: $yellow;
  background-color: $black;
}

.footer__link:active {
  opacity: 0.6;
}

@media #{$mobile} {
  
  .footer {
    padding-top: 20px;
  }
  
  .footer__inner {
    width: auto;
  }
  
  .footer__list {
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    padding-bottom: 5px;
  }
  
}
