.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: $white;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  width: 470px;
  box-sizing: border-box;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__menu-item {
  position: relative;
  min-height: 43px;
}

.header__submenu-list {
  display: none;
  position: absolute;
  width: 220px;
  box-sizing: border-box;
  top: 35px;
  left: -30px;
  background-color: $yellow;
}

.header__submenu-link {
  color: $black;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.header__menu-item--bicycles:hover > .header__submenu-list {
  display: block;
}

.header__menu-link {
  color: $white;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  min-height: 43px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__menu-link:hover {
  color: $black;
  background-color: $yellow;
}

.header__menu-link:active {
  opacity: 0.6;
}

.header__menu-link--basket {
  font-size: 0;
}
