.slider {
  width: 100%;
  height: 980px;
  margin-top: -20px;
  position: relative;
}

.slider__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider__heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.slider__subheading {
  font-size: 28px;
  font-weight: 100;
  line-height: 32px;
}

.slider__color {
  color: $yellow;
}

.slider__control {
  position: absolute;
  top: 48%
}

.slider__control--left {
  left: 0;
}

.slider__control--right {
  right: 0;
}

.slider__btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}
